@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BLAGAJNA</h1>
    <p>MAKE SAVING MONEY FUN</p>
</div>

<div class="main-box">
    <p class="cont-text">SAVED THIS MONTH</p>
    <br>
    <p class="cont-ammount">650$</p>
</div>
<div class="main-box">
    <p class="cont-text">SPENT THIS MONTH</p>
    <br>
    <p class="cont-ammount">@ViewData["TotalAmount"] €</p>
</div>
<div class="main-box">
    <p class="cont-text">BALANCE</p>
    <br>
    <p class="cont-ammount">@ViewData["balance"] €</p>
</div>
